@using System.Reflection;
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery antiforgery
@{
    var _ajaxRequestToken = antiforgery.GetAndStoreTokens(Context).RequestToken;
    var _pdfWorker = String.Format("{0}", DwsConfig.Value.PdfWorker);
}
@section Header
{
    
    <title>@ViewData["Title"] - Default WebSite.net</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="">
    <meta name="author" content="">

    @*<link rel="canonical" href="https://defaultwebsite.net" />*@
    @*Facebook open graph sdk tags, we dont want to use opengraph*@
    <meta property="og:title" content="Default WebSite.net" />
    <meta property="og:url" content="https://defaultwebsite.net" />
    <meta property="og:image" content="" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <link rel="icon" href="../../favicon.ico">

}

<div id="row-main" class="row no-gutters">
    
    <div id="col-util" class="col-5">
        <div class="element d-flex h-100 flex-column">
            <div class="inner d-flex h-100 flex-column align-items-center justify-content-between">

                <div id="row-notebook" class="row no-gutters w-100">
                    <div id="col-dws-notebook" class="col-12 no-gutters">
                        @{ await Html.RenderPartialAsync("~/Views/Notebook/NotebookMain.cshtml");}
                    </div>
               </div>

                <div id="row-carousel" class="row no-gutters w-100">
                    <div id="col-dws-carousel" class="col-12 no-gutters">
                        @{ await Html.RenderPartialAsync("~/Views/Shared/_Carousel.cshtml");}
                    </div>

                    
                </div>
                <div id="footer-scroll">
                    <span>
                        &copy; Eric K. Swartling  @DateTime.Now.Year &mdash;
                        <a href="~/resource/html/terms-conditions.html" target="_blank">Terms and Condtions of Use </a> &mdash;
                        <a href="~/resource/html/conduct.html" target="_blank">Code of Conduct Policy </a> &mdash;
                        <a href="~/resource/html/privacy.html" target="_blank">Privacy Policy </a>
                        <span class="text-danger">
                            !!!!!This Is Pre-Release Preview! DefaultWebSiteCore &mdash;
                            @Assembly.GetEntryAssembly().GetName().Version.ToString()!!!!!
                        </span> &rArr;&nbsp;
                    </span>
                </div>
            </div>
        </div>
    </div>

    <div id="col-main" class="col-7">
        <div class="element d-flex h-100 flex-column justify-content-between">
            <div class="inner d-flex h-100 flex-column align-items-center justify-content-center">
                <div id="main-target-area">
                    @{ await Html.RenderPartialAsync("~/Views/Home/Welcome.cshtml"); } 
                </div>
            </div>
        </div>
    </div>

</div>


@section JS
{

<script>
   
    require(['dws/controller'],
        function (Controller) {

            $(document).ready(function () {
                Controller.setXsrf(@Json.Serialize(_ajaxRequestToken));
                Controller.setPdfWorker("@_pdfWorker");

                @if ( ViewData["ReturnUrl"] != null )
                {
                    <Text>
                    Controller.dispatch({ url: '@ViewData["ReturnUrl"].ToString()', cache: false }, '@ViewData["ReturnTarget"]');
                    //window.history.replaceState({ url: url  }, "", "");
                    </Text>

                }
            });
        });
    require(['dws/main']);
</script>
        
}
