<html>
<head>
    @RenderSection("header", true)
    <environment names="Development">
        <link rel="stylesheet" href="@ViewData["JqueryUiThemeDevelopment"]" />
        <link rel="stylesheet" href="~/lib/jquery-confirm/css/jquery-confirm.css" />
        <link rel="stylesheet" href="@ViewData["BootstrapThemeDevelopment"]" asp-append-version="true" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="@ViewData["JqueryUiThemeProduction"]" />
        <link rel="stylesheet" href="~/css/jquery-confirm.min.css" />
        <link rel="stylesheet" href="@ViewData["BootstrapThemeProduction"]" asp-append-version="true" />
        <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
    </environment>
</head>
<body>
    @{Html.RenderPartial("_NavBarMain.cshtml"); }
    <div  id="mainContainer" class="container">
        @RenderBody()
    </div>
   @{Html.RenderPartial("_Templates.cshtml");}
    <environment names="Development">
        <script src="~/lib/_site/dist/js/jcore.js" asp-append-version="true"></script>
        <script src="~/lib/_site/dist/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/defaultwebsite.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("JS", required: true)
</body>
</html>
