<html>
<head>
    @RenderSection("header", true)
    <environment names="Development">
        @*<link rel="stylesheet" href="~/lib/_site/dist/css/viewer.css" asp-append-version="true" />*@
        <link rel="stylesheet" href="@ViewData["ThemeDevelopment"]" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/jquery-ui.css" asp-append-version="false" />

        <script src="~/lib/_site/dist/js/pdf.js" type="text/javascript"></script>
        <script src="~/lib/_site/dist/js/video.js" type="text/javascript"></script>
       
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="@ViewData["ThemeProduction"]" asp-append-version="true" />
        <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
    </environment>
</head>
<body>
    @{Html.RenderPartial("_NavBarMain.cshtml"); }
    <div  id="container-primary" class="container">
        @RenderBody()
    </div>
   @{Html.RenderPartial("_Templates.cshtml");}
    <environment names="Development">
        <script src="~/lib/_site/dist/js/jcore.js" asp-append-version="true"></script>
        @*<script src="~/lib/_site/dist/js/pdf.worker.js" asp-append-version="true"></script>*@
        <script src="~/lib/_site/dist/js/pdf-debugger.js" asp-append-version="true"></script>
        <script src="~/lib/_site/dist/js/pdf-viewer.js" asp-append-version="true"></script>
        <script src="~/lib/_site/dist/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/defaultwebsite.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("JS", required: true)
</body>
</html>
