<html>
<head>
    @RenderSection("header", true)

    <environment names="Development">
        <link rel="stylesheet" href="@ViewData["ThemeDevelopment"]" asp-append-version="true" />
        <link rel="stylesheet" href="~/lib/_site/dist/css/jquery-ui.css" asp-append-version="false" />
        <link rel="stylesheet" href="~/lib/_site/dist/css/video-js.css" />
        <link rel="stylesheet" href="~/lib/_site/dist/css/esri.css" />
        <link rel="stylesheet" href="~/lib/_site/dist/css/digit.css" />

        <script src="~/lib/_site/dist/js/header.js" type="text/javascript"></script>
       
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/defaultwebsite.min.css" asp-append-version="true" />
        @*<link rel="stylesheet" href="@ViewData["ThemeProduction"]" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/jquery-ui.css" asp-append-version="false" />
        <link rel="stylesheet" href="~/css/video-js.css" />
        <link rel="stylesheet" href="~/css/esri.css" />
        <link rel="stylesheet" href="~/css/digit.css" />*@

        <script src="~/js/header.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
    </environment>
</head>

<body>
    @{ await Html.RenderPartialAsync("_NavBarMain.cshtml"); }
    <div id="container-primary" class="container">
        @RenderBody()
    </div>
    @{  await Html.RenderPartialAsync("_Templates.cshtml");}

    <environment names="Development">

        <script src="~/lib/_site/dist/js/jcore.js" asp-append-version="true"></script>
        @*<script src="~/lib/_site/dist/js/lib/requirejs/require.js"></script>*@
        <script>
            var dojoConfig = {
                baseUrl: "/lib/_site/",
                tlmSiblingsofDojo: false,
                async: 1,
                hasCache: {
                    // these are the values given above, not-built client code may test for these so they need to be available
                    "dojo-built": 1,
                    "dojo-loader": 1,
                    "dojo-undef-api": 0,
                    dom: 1,
                    "host-browser": 1,

                    // Disable deferred instrumentation by default in the built version.
                    "config-deferredInstrumentation": 0,

                    // Dojo loader has built-in "has" api. Since dojoConfig is used
                    // by Dojo loader, we can set the default here.
                    "dojo-has-api": 1,

                    // default
                    "config-selectorEngine": "lite",

                    "esri-featurelayer-webgl": 0,

                    "esri-promise-compatibility": 0,
                    "esri-promise-compatibility-deprecation-warnings": 1
                },
                packages: [
                    {
                        name: "dojo",
                        location: "./node_modules/dojo"
                    },
                    {
                        name: "dijit",
                        location: "./node_modules/dijit"
                    },
                    {
                        name: "dojox",
                        location: "./node_modules/dojox"
                    },
                    {
                        name: "dstore",
                        location: "./node_modules/dstore"
                    },
                    {
                        name: "dgrid",
                        location: "./node_modules/dgrid"
                    },
                    {
                        name: "esri",
                        location: "./node_modules/arcgis-js-api"
                    },
                    {
                        name: "moment",
                        location: "./node_modules/moment",
                        main: "moment"
                    },
                    {
                        name: "dws",
                        location: "./js/dws"
                    }
                ]
            };
            
        </script>
        <script src="~/lib/_site/node_modules/dojo/dojo.js"></script>
        @*<script src="~/lib/_site/dist/js/site.js" asp-append-version="true"></script>*@
    </environment>

    <environment names="Staging,Production">
        <script src="~/js/jcore.min.js" asp-append-version="true"></script>
        <script src="~/js/dojo/dojo.js"></script>
    </environment>

    @RenderSection("JS", required: true)

</body>

</html>
