<div class="paper-wrapper">
    <span class="text-info text-muted float-right">November-2016</span>
    <div class="paper">
        <h5 class="text-center">Migrating Document Archive to .NET Core</h5>
        <blockquote class="blockquote">
            Note from the Editors... This was originally posted on https://swartling-family.com
            as part of the "Geek Speek" content. That site is currently under migration...
        </blockquote>

        <p class="text-center"><strong><em>What is there to say about Visual Studio 2017&trade; and .NET Core? </em></strong> <br/>
            <span class="text text-center text-danger font-italic" style="font-size:1.5rem;">Except awesome!!!</span>
        </p>
        
        <p>
            <strong><em>It seems Microsoft&trade; may have finally got it right! </em></strong>Conceding to the ever increasing
            omnipresence of &ldquo;Open Source&rdquo;; there was no choice but to embrace it, or eventually become obsolete.
            This discussion does not addresses, &ldquo;What is .NET Core?&rdquo; 
            Learn all about it here: <a href="https://www.asp.net/core">The ASP.NET Core Site</a>!
        </p>
        <p>
            <strong><em>Important to note that .NET Core technology applies to </em></strong>other C# templates/technologies.
            It actually defines an entirely new development and runtime framework replacing ASP.NET 4.6 and MVC 5.
            Learn all about it here: <a href="https://www.microsoft.com/net/core#windowsvs2017">The .NET Core Site</a>! Versioning of MVC
            has been absorbed into ASP.NET Core and is now identified as a package of .NET Core. Actually just about everything in VS2017 is now a package!
        </p>
        <p>
            <strong><em>This discussion does highlight some areas of the migration </em></strong>that capitalize on the technologies and
            techniques offered by ASP.NET Core. The functional enhancements and additions to VS2017 are many. A big change is the addition of
            the &ldquo;Bower Package Manager&rdquo; and the distinction between client-side and server-side packages. This greatly enhances the
            design and control of the client-side build process.
        </p>
        <p>
            <strong><em>Also well publicized are the many new multi-faceted templates</em></strong> offering support for many of the
            popular &ldquo;Open Source&rdquo; languages, platforms and servers: Unix/Linux, Ubuntu, iOS, Android, Apache and many more.
            This support is provided by the new .NET Core embedded Kestrel web server. Any .NET Core application can self-host web functionality.
        </p>
        <p>
            <strong><em>Once we get into a ASP.NET Core Web Application (.NET Core)</em></strong> project template, we notice some big differences.
            One being that the MvcApplication and IAppBuilder classes are gone! And the global.asax file!! As well as just about anything
            familiar with the MVC5 startup and configuration. ASP.NET Core uses a simple program.cs, just like a console or forms application.
        </p>
        @Html.Partial("~/Views/Notepad/SnippetTmpl.cshtml", new DefaultWeb.Models.DefaultWebSite.Snippet { Name = "ProgramCS.html", Title = ".NET Core program.cs" })
        <p><strong><em>The MVC App_Start program folder has</em></strong> been replaced with the single Startup.cs.</p>
        @Html.Partial("~/Views/Notepad/SnippetTmpl.cshtml", new DefaultWeb.Models.DefaultWebSite.Snippet { Name = "StartUpCS.html", Title = "New Startup class" })
        <p>
            <strong><em>Client-side compiling, minification and bundling can be done manually</em></strong> with &ldquo;Grunt&rdquo;
            and Task Runner or in the new bundleconfig.json and compilerconfig.json files<em><strong>.</strong></em>
        </p>
        @Html.Partial("~/Views/Notepad/SnippetTmpl.cshtml", new DefaultWeb.Models.DefaultWebSite.Snippet { Name = "JsonConfig.html", Title = "The bundleconfig.json configuration file" })
        <p>
            <strong><em>Framework container services defined in</em></strong> Startup.ConfigureServices() provide global access and can
            now be &ldquo;Injected&rdquo; into Views.
        </p>
        @Html.Partial("~/Views/Notepad/SnippetTmpl.cshtml", new DefaultWeb.Models.DefaultWebSite.Snippet { Name = "Inject.html", Title = "View Service Injection" })
        <p><strong><em>User Management is now much more efficien</em></strong>t as illustrated by the new _LoginPartial.cshtml</p>
        @Html.Partial("~/Views/Notepad/SnippetTmpl.cshtml", new DefaultWeb.Models.DefaultWebSite.Snippet { Name = "Inject2.html", Title = "View Service Injection" })
        <p>
            <strong><em>This is just a small taste of the re-design and improvements</em></strong> now in progress.
            Further development will also target C# 6, supporting Open XML documents, user registration, public and private archive areas, Bootstrap4,
            enhanced social media integration, changing back-end from filesystem entities to database EntityFramework entities, etc...
        </p>
    </div>
</div>
